In [21]:
import sqlite3
conn = sqlite3.connect("expenses.db")
cursor = conn.cursor()
cursor.execute(""" CREATE TABLE IF NOT EXISTS expenses(id INTEGER PRIMARY KEY,
date DATE,
description TEXT,
type TEXT,
amount REAL) """)

conn.commit()
conn.close()

In [ ]:
from sqlite3.dbapi2 import PARSE_COLNAMES
import sqlite3
import datetime

conn = sqlite3.connect("expenses.db")
cursor = conn.cursor()

while True:
  print("select an option")
  print("1. MAke an entry")
  print("2. View an expense")

  choice = int(input())

  if choice ==1:
    date = input("enter date in DD-MM-YYYY format")
    description = input("tell me something about the expense")
    cursor.execute("SELECT DISTINCT type FROM expenses" )
    categories = cursor.fetchall()
    (print("select a category number"))
    for idx, type in enumerate(categories):
      print(f"{idx + 1}.{categories[0]}")
      print(f"{len(categories) + 1}. create new category")
      category_choice = input()
      if category_choice == len(categories)+1:
         category = input("enter a new category")
      else:
        category == categories([category_choice - 1][0])
      amount = input("enter the amount")
      cursor.execute("INSERT INTO expenses (date, description, type, amount) VALUES (?, ?, ?, ?), (date, description,type, amount)")
      conn.commit()
  elif choice == 2:
    print("select an option" + "1. view all expenses" + "2. view monthly expenses by category")
    view_choice = int(input())

    if view_choice ==1:
      cursor.execute("SELECT * FROM expenses")
      expenses = cursor.fetchall()
      for expense in expenses:
        print(expense)

    elif view_choice == 2:
      month = input("enter month(MM)")
      year = input("enter year(yy)")
      cursor.execute("""SELECT type SUM(amount) FROM expenses
      WHERE strftime('%m', date) = ? AND strftime('%y', date) = ?
      GROUPBY type""", (month,year))

      expenses = cursor.fetchall()
      for expense in expenses:
        print(f"category: {expense[0]}, Total: {expense[1]} ")
    else:
      exit()

else:
  exit()
repeat = input("Wanna add another expense? (Y/N)")
if repeat.lower() != "Y":
  break

conn.close()

select an option
1. MAke an entry
2. View an expense
1
enter date in DD-MM-YYYY format03-03-2002
tell me something about the expensek
select a category number
select an option
1. MAke an entry
2. View an expense